/*--------------------------------------------*/
/* navbar Logo Basic Classes */
/*--------------------------------------------*/

.myLogo {
  /* Navbar Logo Class Selector */
  color: #222831;
  font-size: 2rem;
  /* (50px font-size / 2560px width */
  overflow: hidden;
}

.myLogo.expandPadding {
  padding: 12px 20px;
  /* top right bottom left */
}

.myLogo.hiddenPadding {
  padding: 0 0 0 0;
}

@media (min-width: 1441px) {
  .myLogo {
    font-size: 2.5vw;
  }
}
@media (max-width: 1440px) and (min-width: 769px) {
  .myLogo {
    font-size: 2vw;
  }
}
@media (max-device-width: 768px) and (min-device-width: 426px) {
  .myLogo {
    font-size: 3vw;
  }
}
@media (max-device-width: 425px) and (min-device-width: 376px) {
  .myLogo {
    font-size: 5vw;
  }
}
@media (max-device-width: 375px) and (min-device-width: 0px) {
  .myLogo {
    font-size: 6vw;
  }
}

.myLogo.offblink {
  color: #222831;
  max-height: 0;
}

.myLogo.onLink {
  max-height: 100px;
}
.myLogo.onLink .textAlter {
  text-shadow: 1px 0 #00adb5, 2px 0 #00adb5, 3px 0 #00adb5, 4px 0 #00adb5,
    5px 0 #00adb5, 6px 0 #00adb5;
}

.myLogo.blink {
  max-height: 100px;
  color: #393e46;
}

.title-A,
.textAlter {
  transition: all 2500ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.myLogo.blink .title-A {
  text-shadow: 1px 0 white, 2px 0 white, 3px 0 #00adb5, 4px 0 white,
    5px 0 #00adb5, 6px 0 white, 7px 0 #00adb5, 8px 0 white;
}

.textAlter {
  color: #ffffff;
}
.title-A,
.textAlter {
  transition: all 2500ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.myLogo.onLink .textAlter {
  text-shadow: 1px 0 #00adb5, 2px 0 #00adb5, 3px 0 #00adb5, 4px 0 #00adb5,
    5px 0 #00adb5, 6px 0 #00adb5;
}
.myLogo.blink .textAlter {
  text-shadow: 1px 0 #00adb5, 2px 0 #00adb5, 3px 0 #393e46, 4px 0 white,
    5px 0 #393e46, 6px 0 #00adb5, 7px 0 #00adb5, 8px 0 #00adb5, 9px 0 #00adb5;
}

.myLogo {
  transition: all 1000ms cubic-bezier(0.875, 0.005, 0.135, 1);
}

/*--------------------------------------------*/
/* navbar links Responsive Section */
/*--------------------------------------------*/

@media (min-width: 1441px) {
  a.Links:link {
    padding: 10px 2px 14px;
    font-size: 0.95vw;
  }

  a.Links:hover {
    font-size: 1.05vw;
  }

  .navbar-nav .btn-secondary {
    font-size: 1.1vw;
  }
  .navbar-nav .btn-secondary:hover {
    font-size: 1.199 vw;
  }
}
@media (max-width: 1440px) and (min-width: 1200px) {
  a.Links:link {
    padding: 10px 2px 14px;
    font-size: 0.95vw;
  }

  a.Links:hover {
    font-size: 1.05vw;
  }

  .navbar-nav .btn-secondary {
    font-size: 1.1vw;
  }
  .navbar-nav .btn-secondary:hover {
    font-size: 1.199 vw;
  }
}
@media (max-width: 1199px) and (min-width: 769px) {
  a.Links:link {
    padding: 10px 2px 14px;
    font-size: 0.95vw;
  }

  a.Links:hover {
    font-size: 1.05vw;
  }

  .navbar-nav .btn-secondary {
    margin: 15px 0 0;
    font-size: 1.1vw;
  }
  .navbar-nav .btn-secondary:hover {
    font-size: 1.199 vw;
  }

  .navbar-toggler {
    font-size: 2.5vw;
  }
}
@media (max-device-width: 768px) and (min-device-width: 426px) {
  a.Links:link {
    padding: 10px 2px 14px;
    font-size: 1.4vw;
  }

  a.Links:hover {
    font-size: 1.5vw;
  }

  .navbar-nav .btn-secondary {
    margin: 15px 0 0;
    font-size: 1.4vw;
  }
  .navbar-nav .btn-secondary:hover {
    font-size: 1.526 vw;
  }

  .navbar-toggler {
    font-size: 3vw;
  }
}
@media (max-device-width: 425px) and (min-device-width: 376px) {
  a.Links:link {
    padding: 10px 2px 14px;
    font-size: 2vw;
  }

  a.Links:hover {
    font-size: 2.1vw;
  }

  .navbar-nav .btn-secondary {
    margin: 25px 0 0;
    font-size: 2vw;
  }
  .navbar-nav .btn-secondary:hover {
    font-size: 2.18 vw;
  }

  .navbar-toggler {
    font-size: 5vw;
  }
}
@media (max-device-width: 375px) and (min-device-width: 0px) {
  a.Links:link {
    padding: 10px 2px 14px;
    font-size: 2vw;
  }

  a.Links:hover {
    font-size: 2.1vw;
  }

  .navbar-nav .btn-secondary {
    margin: 25px 0 0;
    font-size: 3vw;
  }
  .navbar-nav .btn-secondary:hover {
    font-size: 3.27 vw;
  }

  .navbar-toggler {
    font-size: 5vw;
  }
}