.bottomBox {
  margin-top: 100px;
  vertical-align: bottom;
  color: #eeeeee;
}

.bottomDiv {
  padding: 3% 8%;
  /* top/bottom left/right */
  margin: 0;
  height: auto;
  background-color: #222831;
  font-size: 1rem;
  /* (18px font-size / 2560px width */
  text-decoration: none;
  text-align: right;
  color: #eeeeee;
}
.bottomDiv .col-sm-2 {
  color: #eeeeee;
}

.bottomLink {
  color: #eeeeee;
  text-decoration: none;
  transition: all 500ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/*
  .bottomLink:hover {
    text-decoration: none;
    color: $SecondaryColor;
  }
  
  .socialLink {
    color: $mainWhite;
    text-decoration: none;
    padding: 8px;
    border-style: none;
    border-width: 0;
    transition: all 500ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
  }
  
  .socialLink:hover {
    text-decoration: none;
    color: #08d9d6;
    border-width: 1px;
    border-radius: 100%;
    border-style: solid;
    border-color: #08d9d6;
  }
  */
.copyrightText {
  margin-top: 25px;
  margin-bottom: 25px;
  color: #eeeeee;
  font-size: 1rem;
  text-align: left;
}

.myLogo_bottom {
  color: #08d9d6;
  padding: 0;
  font-size: 2rem;
}

.middleLine_bottom {
  color: #393e46;
}

.textAlter_bottom {
  text-decoration: underline;
  color: #eeeeee;
}

@media (max-width: 1023px) {
  .bottomDiv {
    font-size: 1.25rem;
  }

  .myLogo_bottom {
    font-size: 1.8rem;
  }

  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-6 {
    padding-top: 10px;
  }
}
